*{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

html, body{
    height: 100%;
    overflow: hidden;


}

body{
    font-size: 1.6rem;
    overflow-x: hidden;

}

